h1{
    font-weight: bolder;
    color: #ededed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    color: #c9c9c9;
}
.menu{
    display: flex;
    gap: 5%;
    padding-left: 3%;
    height: 100%;
    align-items: center;    
    background-color: #0c4012;
}
a{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}